html 
{
    background-image: radial-gradient(ellipse at center, #262626, black 50%);
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    font-weight: 100;        
}

body
{
    border: 3px outset;
    border-color: #161616;
    border-radius: 40px;
    box-shadow: 5px 5px 5px #161616;
    margin: 5vh;
    height: 100%;
}

a
{
    font: inherit;
    color: inherit;
    text-decoration: none;
    overflow: hidden;
}

.line
{
    height: 1px;
    margin: 10px 0;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, white), to(rgba(0, 0, 0, 0)));
    border: 0;
}

.headercontent
{
    /* background-color: white; */
    margin: 0px;
}

.maincontent
{
    /* background-color: red; */
    width: 100%;
    overflow: auto;
}

.maingrid
{
    /* background-color: brown; */
    display: grid;
    grid-template-columns: auto, auto;
    gap: 10px;
    margin: 1rem;
    overflow: auto;
}

.column1
{
    grid-column: 1/2;
    margin: 1rem;
}

.headshotcontainer
{
    /* background-color: orange; */
    width: min-content;
    margin: 1rem;

}

.headshot
{
    width: 33vw;
    height: auto;
    margin: 10px;
    border-radius: 15%;
}

.column2
{
    grid-column: 2/2;
    margin: 1rem;
}

.bio
{
    /* background-color: yellow; */
    width: 100%;
}

.biocontent
{
    padding: 1vw;
}

.reels 
{
    /* background-color: green; */
    width: 100%;
}

.reelscontent
{
    padding: 1vw;
}

audio 
{
    filter: sepia(0%) saturate(70%) contrast(100%) invert(90%);
    width: 25vw;
    height: 5vh;
    border: 1px solid orange;
    border-radius: 20px;
}

.gear
{
    /* background-color: lime; */
    overflow: auto;
}

.geargrid
{
    /* background-color: brown; */
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    margin: 1rem;
    table-layout: fixed;
}

li::before
{
    content: ' \01D122';
    margin-left: -20px; 
    margin-right: 10px;
}

li
{
    list-style-type: none;
}

.gearcolumn1
{
    grid-column: 1/2;
    margin: 1rem;
    /* background-color: pink; */
}

.gearcolumn2
{
    grid-column: 2/2;
    margin: 1rem;
    /* background-color: orange; */
}

.linkworkgrid
{
    display: grid;
    grid-template-columns: auto, auto;
    gap: 10px;
    margin: 1rem;
    overflow: auto;
}

.links
{
    /* background-color: blue; */
    margin: 1rem;
    height: min-content;
    grid-column: 2/2;
    align-items: center;
}

.backstage-media-button
{
    background-color: black;
    background-image: radial-gradient( center at 25% white, black);
    border: groove 3px white;
    border-radius: 15px;
    font: inherit;
    color: white;
    font-size: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vw;
    width: 10vw;
    height: auto;
    margin: 1rem;
    cursor: pointer;
    overflow-x: hidden;
}

.backstagetext
{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.backstage-media-button:hover 
{ 
    opacity: 0.8;
    border: groove 2px; 
}

.backstage-media-button:active 
{
    transform: translateY(4px);
}

.backstage-icon
{
    width: 4vw;
    height: auto;
    border-radius: 10px;
}

.linebackstage
{
    height: 1px;
    margin:1vh;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, white), to(rgba(0, 0, 0, 0)));
    border: 0;
}

.imdb-media-button
{
    background-color: black;
    background-image: radial-gradient( center at 25% white, black);
    border: groove 3px #DBA506;
    border-radius: 15px;
    font: inherit;
    color: #DBA506;
    font-size: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vw;
    width: 10vw;
    height: auto;
    margin: 1rem;
    cursor: pointer;
    overflow-x: hidden;
}
.imdb-media-button:hover 
{ 
    opacity: 0.8;
    border: groove 2px; 
}

.imdb-media-button:active 
{
    transform: translateY(4px);
}

.imdb-icon
{
    width: 4vw;
    height: auto;
}

.lineimdb
{
    height: 1px;
    margin:1vh;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #DBA506), to(rgba(0, 0, 0, 0)));
    border: 0;
}

.upwork-media-button
{
    background-color: black;
    background-image: radial-gradient( center at 25% white, black);
    border: groove 3px #15a800;
    border-radius: 15px;
    font: inherit;
    color: #1eff00;
    font-size: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vw;
    width: 10vw;
    height: auto;
    margin: 1rem;
    cursor: pointer;
    overflow-x: hidden;
}
.upwork-media-button:hover 
{ 
    opacity: 0.8;
    border: groove 2px; 
}

.upwork-media-button:active 
{
    transform: translateY(4px);
}

.upwork-icon
{
    width: 4vw;
    height: auto;
    border-radius: 10px;
}

.lineupwork
{
    height: 1px;
    margin:1vh;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #15a800), to(rgba(0, 0, 0, 0)));
    border: 0;
}


.fiverr-media-button
{
    background-color: black;
    background-image: radial-gradient( center at 25% white, black);
    border: groove 3px #DBA506;
    border-radius: 15px;
    font: inherit;
    color: #DBA506;
    font-size: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vw;
    width: 10vw;
    height: auto;
    margin: 1rem;
    cursor: pointer;
    overflow-x: hidden;
}
.fiverr-media-button:hover 
{ 
    opacity: 0.8;
    border: groove 2px; 
}

.fiverr-media-button:active 
{
    transform: translateY(4px);
}

.fiverr-icon
{
    width: 4vw;
    height: auto;
}

.fiverrimdb
{
    height: 1px;
    margin:1vh;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #DBA506), to(rgba(0, 0, 0, 0)));
    border: 0;
}


.recentwork
{
    grid-column: 1/2;
    /* background-color: indigo; */
    margin: 1rem;
}

.contactbutton
{
    background-color: black;
    background-image: radial-gradient(#262626, black);
    border: groove 3px white;
    border-radius: 15px;
    font: inherit;
    color: white;
    font-size: 64px;
    padding-left: 2vw;
    padding-right: 2vw;
    width: min-content;
    height: auto;
    margin: 1rem;
    cursor: pointer;

}

.contactbutton:hover 
{ 
    opacity: 0.8;
    border: groove 2px white; 
    box-shadow: 1px 5px 5px #161616;
}

.contactbutton:active 
{
    background-color: white;
    transform: translateY(4px);
}
